<div>

  <div class="page-header">
    <h1>User File Upload</h1>
  </div>

  <style>
    .fieldset {
      height: 100%;
      min-height: 300px;
      width: 80%;
      padding: 50px 0 0 18px;
    }

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {

      display: block;
      padding: 6px 12px;
      cursor: pointer;
      width: 200px;
      height: 40px;
      background: linear-gradient(rgb(93, 177, 91), rgb(127, 211, 31));
    }

    .custom-file-upload span {
      color: #fff;
      padding: 0 10px 0 0;
    }

    .custom-file-upload i {
      color: #fff;
      font-size: 15px;
      padding: 5px 17px;
    }

    .custom-start-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: linear-gradient(rgb(0, 4, 255), rgb(0, 60, 255));
      color: #fff;
    }

    .custom-cancel-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: linear-gradient(rgb(255, 115, 0), rgb(255, 60, 0));
      color: #fff;
    }


    .remove {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      color: #fff;
      background: rgba(217, 83, 79, 1);
    }

    .remove i,
    .custom-start-upload i,
    .custom-start-upload i {
      color: #ffff;
      font-size: 15px;
    }
  </style>


  <form enctype="multipart/form-data" name="uploadForm">


    <fieldset class="fieldset">
      <label class="custom-file-upload">
        <input type="file" file-model="files" multiple/>

        <span>
          <i class="fas fa-plus"></i>
          Add Files
        </span>

      </label>

      <br>
      <br>


      <table class="customTable">
        <tr>
          <th>Preview</th>
          <th>FileName</th>
          <th>Filesize</th>
          <th>FileType</th>
          <th>Date</th>
          <th>Action</th>

        </tr>
        <tr>
          <td ng-show="files">
            <img src="../../../images/csv.jpg" width="30" height="30" />
          </td>
          <td>{{files[0].name}}</td>
          <td>{{files[0].size}}</td>
          <td>{{files[0].type}}</td>
          <td>{{files[0].lastModifiedDate}}</td>
          <td>
            <button type="button" class="remove" ng-click="remove(files)">
              <i class="fas fa-trash"></i>
            </button>

            <button ng-click="upload()" class="custom-start-upload">
              <i class="fas fa-play-circle"></i>
            </button>

            <button ng-click="upload()" class="custom-cancel-upload">
              <i class="fas fa-ban"></i>
            </button>

          </td>
        </tr>
      </table>

    </fieldset>

    <br>
    <br>
    <fieldset class="fieldset">

      <table class="customTable">
        <tr>
          <th>Preview</th>
          <th>FileName</th>
          <th>Filesize</th>
          <th>FileType</th>
          <th>Date</th>
          <th>Action</th>

        </tr>
        <tr>
          <td>

          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="remove" ng-click="remove(files)">
              <i class="fas fa-trash"></i>
            </button>

            <button ng-click="upload()" class="custom-start-upload">
              <i class="fas fa-play-circle"></i>
            </button>


          </td>
        </tr>
      </table>


    </fieldset>
  </form>
</div>