.forget-password-box {
    width: 600px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    top: 35%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px 0px #000;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.forget-password-box i {
    color: #fff;
    padding:0 0 0 40%;
}

.forget-password-box input[type="text"] {
    height: 40px;
    width: 95%;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: 0 0;
    padding: 0px 0 0px 10px;
    margin: 10px 0 0 10px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
}

.forget-password-box h1 {
    padding: 8px 90px;
    color: #FFFF00 !important;
    opacity: 0.5;
}

.forget-password-box p {
    margin: 10px 0 0 90px;
    color: #8E44AD !important;
    opacity: 0.8;
}

.forget-password-box input[type="submit"].reset-password-button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #58D68D;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}

.forget-password-box input[type="submit"].reset-password-button:hover {
    color: #fff;
    background: rgba(202, 215, 14, 0.9) !important;
}

.forget-password-box input[type="button"].only-reset-password-button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}

.forget-password-box input[type="button"].only-reset-password-button:hover {
    color: #fff;
    background: rgba(202, 215, 14, 0.9) !important;
}