.r_sidebar {
    float: right;
    width: 83%;
    right: 0;
    background: #ffffff;
    height: 100%;
    min-height: 550px;
    z-index: 1;
    margin: 70px 0px 0 0;
    box-shadow: 10px 0 25px #888888;
    border-left: 10px solid #3a444e;
    position: fixed;
}

.r_sidebar .toggleBtn {
    display: inline-block;
    background-color: #3a444e;
    border-radius: 7px 0 0 7px !important;
    color: #fff;
    border: 0;
    position: absolute;
    top: 252px;
    left: -66px;
    z-index: 1;
    transition: all .3s;
}


.btn {
    cursor: pointer;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.475;
    vertical-align: middle;
   
}


.rsidebar-no-page-wrapper {
    
    width: 0%;    
    height: 100%;
    min-height: 600px;

}


.demo-nifty-settings {
    position: relative;
    top: 20px;
    right: 0;
    z-index: 99999;
    max-width: 1120px;
    max-height: 700px;
    background-color: #fff;
    color: #7a878e;
}

.demo-nifty-settings.in {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    transition: background-color .4s;
}