@import url("https://fonts.googleapis.com/css?family=Kavivanar|Noto+Serif");
.main-hr-navbar {
    top: 70px;
    left: 0;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 150px;
    font-family: 'Kavivanar', cursive;
    font-family: 'Noto Serif', serif;
    z-index:100;
}

.main-hr-navbar ul li a {
    text-decoration: none;
    color: #ffffff;
}

.main-hr-navbar ul {
    padding: 0px;
    
}

.main-hr-navbar ul li {
    float: left;
    background: #000;
    list-style-type: none;
    color: #fff;
    width: 89px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    opacity: 0.6;
    
}
.main-hr-navbar ul li:hover {
    background: maroon;
    opacity: 0.8;
    /* transition:all .3s cubic-bezier(.17,.67,.83,.67); */
    animation: fadeIn 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes fadeIn {
    0% { opacity: 0.6; }
    100% { opacity: 1; }
  }
.main-hr-navbar ul li ul {
    display: none;
}

.main-hr-navbar ul li:hover > ul {
    display: block;
}

.main-hr-navbar ul li ul li {
    position: relative;
    width: 200px;
    text-align: left;
}

.main-hr-navbar ul li ul li ul {
    position: absolute;
    left:200px;
    top:0px;
}

.main-hr-navbar ul li ul li ul span {
   color:green;
   padding: 0 50px;
}

.main-hr-navbar ul li ul li span.sub-sub-arrow::after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 12px;
    float: right;
    color: rgba(255, 255, 255, 0.6);
    
 }
 

.main-hr-navbar ul li span.sub-arrow::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 12px;
    float: right;
    color: rgba(255, 255, 255, 0.6);
}


