.main-hr-navbar {
    top: 75px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 150px;
    padding: 0;
}

.main-hr-navbar ul {
    padding: 0px;
}

.main-hr-navbar ul li {
    float: left;
    background: #000;
    list-style-type: none;
    color: #fff;
    width: 120px;
    height: 60px;
    font-size: 15px;
    line-height: 30px;
}