<div>
    <div class="left_sidebar" id="left-sidebar">
        <div class="sidebar-header">
            <div class="profile_pic" id="profile_pic_id">
                <img src="../../../images/152596570521723438.png" class="img-circle" />
            </div>

            <div class="profile_info" id="profile_info_id">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>

        <div class="sidebar-content-wrapper">

            <ul class="main-nav">
                <li ui-sref-active="active" class="has-sub-menu">
                    <a ui-sref="home.dashboard">
                        <span class="sub-arrow"></span>
                        <i class="fa fa-home fa-fw"></i>
                        <span>Dashboard </span>
                    </a>

                    <ul>
                        <li>
                            <a ui-sref="home.dashboard">
                                <!-- <i class="fa fa-list fa-fw"></i> -->
                                <p>Dashboard 1</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="home.dashboard">
                                <!-- <i class="fa fa-list fa-fw"></i> -->
                                <p>Dashboard 2</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="home.dashboard">
                                <!-- <i class="fa fa-list fa-fw"></i> -->
                                <p>Dashboard 3</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="home.dashboard">
                                <!-- <i class="fa fa-list fa-fw"></i> -->
                                <p>Dashboard 4</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="home.dashboard">
                                <!-- <i class="fa fa-list fa-fw"></i> -->
                                <p>Dashboard 5</p>
                            </a>
                        </li>
                    </ul>

                </li>
                <!-- <li ui-sref-active="custom-active"> 
                            <span class="sub-arrow"></span> 
                            <a ui-sref="home.dashboard">
                                <i class="fa fa-home fa-fw"></i>
                               Home
                                
                            </a>
                        </li> -->
                <li ui-sref-active="active">
                    <a ui-sref="home.user">

                        <i class="fa fa-user fa-fw"></i>
                        <span>User </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="home.upload">

                        <i class="fa fa-upload fa-fw"></i>
                        <span>Upload </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="home.additional">
                        <i class="fa fa-anchor fa-fw"></i>
                        <span>Additional Page </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="home.setting">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>Settings </span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userplan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>User Plan </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>Data presentation </span>

                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>User </span>

                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>ui element </span>

                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>Table </span>

                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>Layout </span>

                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>Extras </span>

                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>Multi level </span>

                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.userPlan">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span>landing page </span>

                    </a>
                </li>

            </ul>

        </div>

        <footer class="sidebar-footer">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                <i class="fa fa-cog"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen" ng-click="enableFullScreen()">

                <i class="fa fa-arrows-alt"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                <i class="fa fa-cogs"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" href="" ng-click="logout()" data-original-title="Logout">
                <i class="fa fa-sign-out-alt"></i>
            </a>
        </footer>

    </div>
</div>